#views-exposed-form-search-page button{background:transparent;box-shadow:none;padding-top:15px;padding-right:2px;color:#b0aeaf}#views-exposed-form-search-page .input-group-addon{display:none}#edit-search-api-views-fulltext{display:none}
.language-switcher-locale-url a{font-size:.9em;color:#b0aeaf}.language-switcher-locale-url a.active{display:none}
